@model IEnumerable<fa22team31finalproject.Models.TransactionDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.TransactionComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dispute.DisputeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispute.DisputeStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionDetailID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
