@model IEnumerable<fa22team31finalproject.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>User</th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.UserName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccount.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionApproved)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit |</a>
                    }
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> 
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.TransactionID">| Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
