@model IEnumerable<fa22team31finalproject.Models.StockTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr
            <th>
                @Html.DisplayNameFor(model => model.Stock.StockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharesQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPurchaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model)
        {

        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharesQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTransactionType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StockPurchaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockTransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockTransactionID">Details</a> 
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.StockTransactionID">| Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
