@model fa22team31finalproject.Models.BankAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <h5>Transactions on this Account</h5>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Transaction Number</th>
                <th>Transaction Amount</th>
                <th>Transaction Type</th>
            </tr>
            @foreach (Transaction tran in Model.Transaction)
            {
                <tr>
                    <td>@Html.DisplayFor(ModelItem => tran.TransactionNumber)</td>
                    <td>@Html.DisplayFor(ModelItem => tran.TransactionAmount)</td>
                    <td>@Html.DisplayFor(ModelItem => tran.TransactionType)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@tran.TransactionID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@tran.TransactionID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.BankAccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
