@model IndexViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Welcome @Model.FirstName!</h2>
<br />
<div>
    <h4>View your Account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@Model.FullName</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>First Name:</dt>
        <dd>@Model.FullAddress</dd>

        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>
    </dl>
</div>

